<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="userDaoImpl" class="com.itcast.spring.a_aop_xml.UserDaoImpl"></bean>
    
    <bean id="userService" class="com.itcast.spring.a_aop_xml.UserServiceImpl">
    	<property name="dao" ref="userDaoImpl"></property>
    </bean>
	
	<bean id="aop" class="com.itcast.spring.a_aop_xml.Aop"></bean>
	
	<aop:config>
		<aop:aspect ref="aop">
			<aop:pointcut expression="execution(* com.itcast.spring.a_aop_xml.*.*(..))" id="pt1"/>
			<aop:pointcut expression="execution(* com.itcast.spring.a_aop_xml.*Service.save*(..))" id="pt"/>
			<aop:before method="before" pointcut-ref="pt" />
		</aop:aspect>
	</aop:config>
	
	
</beans>